.watchLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  height: calc(100vh - 60px);
}

.watchFrame {
  object-fit: contain;
  display: flex;
}
